@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap%27');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "montSerrat";
}

.tela {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fa7d09;
    padding: 20px;
}

.navbar {
  padding: 40px 30px;
  flex: 1;
  background-color: #fff;
  border-radius: 25px;

  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .2s ease-in;
}

.open {
  align-items: flex-start;
  transition: all .2s ease-in;
}

#menu-toggle {
  cursor: pointer;
}

.nav-row {
  width: 100%;
}

.nav-row img {
  width: 35px;
}

.nav-row a {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;

  text-decoration: none;
  color: black;
}

.nav-row a:visited {
  color: black;
}

.nav-row-text {
  font-size: 24px;
  transition: display .2s ease-in;
}

.icones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hidden {
  display: none;
}
.sectionSensores {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.sectionSensores .tituloHora {
    display: flex;
    justify-content: space-between;
}

.sectionSensores .tituloHora h1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.sectionSensores .tituloHora h2 {
    color: white;
    font-weight: lighter;
    font-size: 30px;
}

.cardsSensores {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 100%;
}

.disposicaoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.card {
    min-width: 350px;
    padding: 25px;
    background-color: white; 
    border-radius: 10px;
}

.card .tituloCard {
    display: flex;
    justify-content: space-between;
}

.card h3 {
    color: black;
    font-size: 22px;
}

.card p {
    font-weight: bold;
    line-height: 25px;
}

.card span {
    color: #fa7d09;
}

.card .tituloCard button {
    background-color: #fa7d09;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    color: white;
    cursor: pointer;
}


/* Styles do modal */
/* .container{
  position: relative;
  width: 98.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 10px;
} */

.tela#blur.active {
  filter: blur(10px);
}

#popup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  visibility: visible;
  opacity: 52;
  transition: 0.5s;
  margin-top: 69px;
}

/* Style do botão de cadastrar */
.divBtnCadastrar{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btnCadastrar{
  padding: 10px;
  background-color: #ED893E;
  border: none;
  border-radius: 15px;
  font-size: 22px;
  color: white;
  width: 180px;
  height: 45px;
  font-family: 'Montserrat' sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.btnCadastrar:hover{
background-color: #dc7424;
}

.btnCadastrar:active{
  transform: scale(1.05);
  transition: .05s;
}


/* Style do modal para cadastrar */
.sectionForm{
  display: flex;
  justify-content: center;
}

.divForm{
  height: fit-content;
  width: 615px;
  background-color: white;
  border-radius: 27px;
  padding: 0px 30px 15px;
}

.texto{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}


.inputsHorizontal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input{
  background-color: #E5E5E5;
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline-color: #ED893E;
}

.input{
  width: 45%;
}

.inputNome{
  width: 80%;
}

.input label{
  color: #ED893E;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
}

.inputNome label{
  color: #ED893E;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
}

.input :focus{
  background-color: #dbdbdb;
}


.btnCadastrar{
  padding: 10px;
  background-color: #ED893E;
  border: none;
  border-radius: 15px;
  font-size: 22px;
  color: white;
  width: 180px;
  height: 45px;
  font-family: 'Montserrat' sans-serif;
  font-weight: 600;
  cursor: pointer;
}


.divBtnCadastrar{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

