@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fa7d09;
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.divNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  cursor: pointer;
}

.navbar {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 25px;

  height: 97vh;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .2s ease-in;
}

.open {
  align-items: flex-start;
  transition: all .2s ease-in;
}

#menu-toggle {
  cursor: pointer;
}

.nav-row {
  width: 100%;
}

.nav-row img {
  width: 35px;
}

.nav-row a {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;

  text-decoration: none;
  color: black;
}

.nav-row a:visited {
  color: black;
}

.nav-row-text {
  font-size: 24px;
  transition: display .2s ease-in;
}

.icones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hidden {
  display: none;
}

.navbarContent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.navbarContent {
  gap: 20px;
}
.conteudoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.conteudoCima {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.conteudoCima h1 {
  color: white;
}

.blocoEntradas {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.flex{
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  margin-bottom: 20px;
}

.kpi {
  flex: 1;
  background-color: white;

  padding: 20px 10px;
  text-align: center;

  border-radius: 15px;

  text-transform: uppercase;

  font-weight: 700;

  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.kpi h4{
  font-size: 22px;
  margin-top: 20px;
}

.kpi h3{
  font-size: 22px;
  margin-top: 8px;
}

.kpi h2 {
  font-size: 38px;
  color: #FF4301;
}

.horizontal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.alerta{
  width: 48%;
  height: 280px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.blocoGraficos {
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.grafico {
  background-color: white;
  padding: 10px;
  border-radius: 18px;
  flex: 1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.alerta-titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  width: 100%;
}

.alerta-titulo h4{
  margin-bottom: 40px;
  font-size: 20px;
  justify-content: flex-start;
}

.alerta h2{
  font-size: 30px;
}

.alerta-titulo h1{
  color: #00db30;
  font-size: 60px;
}

.alerta-historico{
  height: 100px;
}