@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-color: #FA7D09;
    font-family: 'Montserrat',sans-serif;
    
}
.container{
    display: flex;
    
}
.divNavbar{
    height: 100vh;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbarVertical{
background-color: white;
height: 90vh;
width: 140px;
border-radius: 25px;
padding: 50px;

}
.navbarContent{
    width: 100%;
    height: 30%;
}
.navbarContent img{
   
    margin-top: 10px;
    margin-bottom: 30px;
   
    
}
.conteudoCima{
    display: flex;
    background-color: crimson;
    width: 80vw;
    height: 50vh;
}