@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fa7d09;
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.divNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  cursor: pointer;
}

.navbar {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 25px;

  height: 95vh;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .2s ease-in;
}

.open {
  align-items: flex-start;
  transition: all .2s ease-in;
}

#menu-toggle {
  cursor: pointer;
}

.nav-row {
  width: 100%;
}

.nav-row img {
  width: 35px;
}

.nav-row a, .nav-row > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;

  text-decoration: none;
  color: black;
}

.nav-row a:visited {
  color: black;
}

.nav-row-text {
  font-size: 24px;
  transition: display .2s ease-in;
}

.icones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hidden {
  display: none;
}

.navbarContent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.navbarContent {
  gap: 20px;
}

#imgSair{
  cursor: pointer;
}

.conteudoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.conteudoCima {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.conteudoCima h1 {
  color: white;
}

.blocoEntradas {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.flex{
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-bottom: 20px;
}

.kpi {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 10px 10px;
  text-align: center;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.kpi h4{
  font-size: 22px;
  margin-top: 20px;
}

.kpi h3{
  font-size: 21px;
  margin-top: 8px;
}

.kpi h2 {
  font-size: 38px;
  color: #FF4301;
}

.horizontal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blocoGraficos {
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.grafico {
  background-color: white;
  padding: 10px;
  border-radius: 18px;
  flex: 1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.alerta{
  width: 48%;
  height: 280px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  flex-wrap: wrap;
  padding: 1rem;
}

.alerta-titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 280px;
  padding-top: 40px;
}

.cardAlerta{
  padding: 15px 10px;
  text-transform: uppercase;
  font-weight: normal;
  height: 80px;
  width: 85%;
}

.borda{
  margin-top: 20px;
}

.cardAtual{
  width: 100%;
  text-align: center;
}

.alerta-titulo .cardAtual{
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
}

.alerta-titulo h4{
  margin-bottom: 40px;
  font-size: 20px;
  justify-content: flex-start;
}

.alerta h2{
  font-size: 30px;
}

.alerta-titulo h1{
  color: #c20000;
  font-size: 60px;
}

.alerta-historico{
  height: 100px;
}


.alerta {
  scrollbar-width: auto;
  scrollbar-color: #fa7d09 #ffffff;
  
}

.alerta h1 {
  color: black;
}

.alerta::-webkit-scrollbar {
  width: 15px;
}

.alerta::-webkit-scrollbar-track {
  background:transparent;

}

.alerta::-webkit-scrollbar-thumb {
background-color: #fa7d09;
border-radius: 10px;
border: 4px solid #ffffff;
}

.alerta-atual {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-alerta {
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-alerta > h1 {
  font-size: 56px;
}

.info-alerta > .faixa-mb,
.info-alerta > .faixa-ma {
  color: #c20000;
}

.info-alerta > .faixa-b,
.info-alerta > .faixa-a {
  color:#e7aa00
}

.info-alerta > .faixa-id {
  color: #00bb10;
}



.verde{
  box-shadow: inset 0px 0px 2px 1px #00bb10;
}

.vermelho{
  box-shadow: inset 0px 0px 2px 1px #c20000;
}

.amarelo{
  box-shadow: inset 0px 0px 2px 1px #e7aa00;
}

.vermelho h1{
  color: rgb(206, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

.vermelho h2{
  color: rgb(206, 0, 0);
  font-size: 15px;
  font-weight: normal;
  width: 100%;
}

.vermelho b{
  color: rgb(206, 0, 0);
}

.verde h1{
  color: #00bb10;
  font-size: 18px;
  font-weight: bold;
}

.verde h2{
  color: #00bb10;
  font-size: 15px;
  font-weight: normal;
  width: 100%;
}

.verde b{
  color: #00bb10;
}

.amarelo h1{
  font-size: 18px;
  font-weight: bold;
  color: #e7aa00;
}

.amarelo h2{
  font-size: 15px;
  font-weight: normal;
  color: #e7aa00;
  width: 100%;
}

.amarelo b{
  color: #e7aa00;
}

.divHistorico{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 20px;
}

.cardAlerta span{
  display: flex;
  width: 100%;
}

.cardAlerta b{
  white-space: nowrap;
}

#subtitulo{
  font-size: 18px;
}

.conteudoCard{
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  width: 100%;
}


.wrapper-confirmacao {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
}

.confirmacao-sair{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: #fefefe;
    border-radius: 15px;

    padding: 2rem;

    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}
.confirmacao-sair h2{
  padding: 15px 0;
  width: 100%;
  text-align: center;
}

.grupo-botoes-sair{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.grupo-botoes-sair > button{
  border: none;
  border-radius: 5px;
  width: 50%;
  padding: 10px 0;
  font-size: 18px;
  
  transition: .2s;
  cursor: pointer;
}

.grupo-botoes-sair > #btn-cancelar {
  background-color: #fa7d09;
  color: white;
}
.grupo-botoes-sair > #btn-sair {
  background-color: #fefefe;
  color: #fa7d09;
  border: 2px solid #fa7d09;
}

.grupo-botoes-sair > #btn-sair:hover,
.grupo-botoes-sair > #btn-cancelar:hover {
  transform: scale(1.1);
}