body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #35221b 0%, #0f0a09 100%);
    width: auto;
}

.svg-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-left: 10px;
    
    
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #FA7D09;
  }
  
  .svg-icon circle {
    stroke: #eee;
    stroke-width: 1;
  }

.navBar{ 
    width: auto;
    height: 55px;
    border-bottom: solid 2px #FA7D09;
    display: flex;
    justify-content: start;
    align-items: center;
        
    
}



.span{
  text-align: center;
  font-size: 26px;
  color: #eee;
  font-weight: 800;
  margin-bottom: 5px;
  text-decoration: none;
  text-shadow: #FA7D09 2px 0px 0px, #FA7D09 1.75517px 0.958851px 0px, #FA7D09 1.0806px 1.68294px 0px, #FA7D09 0.141474px 1.99499px 0px, #FA7D09 -0.832294px 1.81859px 0px, #FA7D09 -1.60229px 1.19694px 0px, #FA7D09 -1.97998px 0.28224px 0px, #FA7D09 -1.87291px -0.701566px 0px, #FA7D09 -1.30729px -1.5136px 0px, #FA7D09 -0.421592px -1.95506px 0px, #FA7D09 0.567324px -1.91785px 0px, #FA7D09 1.41734px -1.41108px 0px, #FA7D09 1.92034px -0.558831px 0px;  
}


.calmaAi{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 400px;
  height: 50px;
  margin-left: .3%;

  
}

.calmaAi:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

.container{
    margin: 20px;
    display: flex;
    height: 540px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-sizing: border-box;
    width: 400px;
    height: 520px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    padding: 10px;
    color: black;
    
  }
  
  .card:hover {
    border: 1px solid black;
    transform: translateY(-20px) ;
    background-color:  rgba(217, 217, 217, 0.80);
    transition: .2s;
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.0deg);
  }

  .textoTitulo{
    font-size: 20px;
    justify-content: center;
    align-items: flex-start;

  }


  .textoForms{
    position: absolute;
    bottom: 56%;
    text-align: center;
    padding: 10px;
  }