@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #35221b 0%, #0f0a09 100%);
    width: auto;
}

.svg-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-left: 10px;
    
    
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ffffff;
  }
  
  .svg-icon circle {
    stroke: #eee;
    stroke-width: 1;
  }

.navBar{ 
    width: auto;
    height: 55px;
    border-bottom: solid 2px #FA7D09;
    display: flex;
    justify-content: start;
    align-items: center;
        
    
}



.span{
  text-align: center;
  font-size: 24px;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  text-decoration: none;
  
}
.span:hover{
  text-decoration: underline;
}


.divVoltarCalculadora{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 400px;
  height: 50px;
  margin-left: .3%;
 

  
}


.container{
    margin: 20px;
    display: flex;
    height: 540px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-sizing: border-box;
    width: 400px;
    height: 520px;
    background: rgba(240, 240, 240, 0.897);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    padding: 10px;
    color: black;
    
  }
  
  .card:hover {
    border: 1px solid black;
    transform: translateY(-20px) ;
    transition: .2s;
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.0deg);
  }

  .textoTitulo{
    font-size: 20px;
    justify-content: center;
    align-items: flex-start;

  }


  .textoForms{
    position: absolute;
    bottom: 56%;
    text-align: center;
    padding: 10px;
  }